.about-card-wrapper {
  display: flex;
  justify-content: center;
  padding: 80px 20px;
  background-color: #fdfcf8;
}

.about-card {
  background-color: #fff;
  max-width: 650px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
}

.about-image-container {
  position: relative;
}

.about-main-image {
  width: 100%;
  display: block;
  height: auto;
}

.image-accent {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
  background-color: #c2a15f;
}

.about-text {
  padding: 30px;
  text-align: center;
}

.subtitle {
  color: #b79c60;
  font-size: 12px;
  letter-spacing: 1px;
  margin-bottom: 8px;
}

.title {
  font-size: 22px;
  font-weight: bold;
  margin: 10px 0;
  color: #2e2e2e;
}

.description {
  color: #666;
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 25px;
}

.stats {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  text-align: center;
}

.stats h3 {
  color: #b79c60;
  font-size: 20px;
  margin-bottom: 4px;
}

.stats p {
  font-size: 12px;
  color: #333;
}

.about-btn {
  background-color: #b79c60;
  color: white;
  padding: 10px 24px;
  font-size: 14px;
  border: none;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.about-btn:hover {
  background-color: #a9894e;
}
